<div class="push-content twitter-tile">

	<a class="user-link" href="https://twitter.com/{{item.userName}}" target="_blank"><img src="{{item.userImg}}" alt="{{item.userName}}" target="_blank" />@{{item.userName}} <i class="icon icon-twitter"></i></a>
	
	<a href="https://twitter.com/{{item.userName}}/status/{{item.id}}" target="_blank">
		<img src="{{item.image}}" alt="{{item.userName}}" />
	</a>
	<span class="twitter-links">
		<a href="https://twitter.com/intent/tweet?in_reply_to={{item.id}}" target="_blank"><i class="icon icon-reply"></i></a>
		<a href="https://twitter.com/intent/favorite?tweet_id={{item.id}}" target="_blank"><i class="icon icon-star-filled"></i></a>
	</span>
</div>