<div class="push-content">
	<a href="{{item.link}}" target="_blank">
		<img width="302px" src="{{item.image}}" />
	</a>

	<a href="http://www.facebook.com/{{item.id}}" target="_blank">
		<h4 class="fb-title">{{item.name}}</h4>
		<p class="fb-message">{{item.message}}</p>
	</a>

	<div class="fb-like-box">
		<div class="fb-like" data-href="{{item.link}}" data-layout="button" data-share="false" data-show-faces="false" data-colorscheme="light"></div>
	</div>
	<a class="fb-icon" href="https://www.facebook.com/countrytime" target="_blank"><img src="assets/img/fb/fb-icon.gif" alt="" /></a>
	
</div>