/* _screen-xl.scss */

/* ---------------------------------------------------------------------
 Products
------------------------------------------------------------------------ */
.product-wrap {
    border: none;
}

.mod-products {
    padding: 2em 4em;
}

/* ---------------------------------------------------------------------
 Module: Steps
------------------------------------------------------------------------ */
.mod-steps {
    height: 432px;
    padding-right: 6%;
    background: $cornflower url('../img/bg/bg-hands-lg.jpg') no-repeat;
    background-position-x: 0;
    background-size: auto;
}

.steps-intro {
    width: 585px;
    margin: 0;
    margin-top: 54px;
    background: none;
    float: right;
    padding: 5.35em 0 0 0;
}

.steps-details {
    margin: 0;
    float: right;
    clear: both;
}

.steps-heading,
.steps-intro-desc {
    text-align: left;
}

.steps-heading {
    max-width: inherit;
    margin: 0;
    padding: 0;
    font-size: 2.9rem;
}

.steps-intro-desc {
    max-width: 90%;
    margin-bottom: 1.5em;
    font-size: 2.1rem;
    margin:0px;
    padding-top: 0.5em;
}

.steps-img {
    margin: 0;
    padding: 0;
    background: none;
}

.steps-details {
    width: 585px;
    margin: auto;
}

.steps-list {
    max-width: inherit;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.steps-list-detail {
   font-size: 1.35rem;
}

.steps-legal {
    width: 48em;
    text-align: left;
    margin-top: 3em;
    display: block;
}
.slider-heading{
  font-size: 3.35rem;
  font-weight: bold;
}
.slider-button{
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 5px;
}
