/* _screen-lg.scss */

/* ---------------------------------------------------------------------
 Generic Defs
------------------------------------------------------------------------ */
main {
    max-width: 1280px;
}

.mod-feed  {
    width: 1026px;
    margin: auto;
    .container {
        padding: 0;
    }
}

/* ---------------------------------------------------------------------
 Products
------------------------------------------------------------------------ */
.product-col {
    width: 20%;
    max-width: inherit;
    padding: 2em 0;
}
.productsBlock{
  height: 300px;
  position: absolute;
  display: block;
  width: 92%;
  left: 4%;
  bottom: 46px;
}
.product{
  width: 20%;
  height: 300px;
  float: left;
  text-align: center;
}
.smallDisplay{
  display: none;
}
.product-heading {
    text-align: center;
    color: #faf03a;
    padding-top: 5px;
}
.product-desc {
    margin: 0;
    padding-top: 3px;
    font-size: 1.4rem;
    color: #FFF;
    font-weight: bold;
}
.first-product-img{
  padding-right: 4px;
}
.first-product-heading{
  padding-right: 8px;
}
/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.mod-footer {
    //width: 1280px;
    height: 8em;
    bottom: -8em;
    padding: 0.5em;
    //left: 50%;
    margin-left: auto; //-640px;
    font-size: 1.4rem;
    .ct-social .icon {
        font-size: 1.5rem;
        @include transition-mixin (all, 170ms, ease-out);
        &:hover {
            @include transform-mixin (scale(1.1));
        }
    }
}
.steps-list-detail3 {
    @extend .ct-heading;
    color: $calypso;
    font-size: 1.5rem;
    line-height: 1.1em;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FilsonProBold";
}
