/* _screen-xs.scss */

/* ---------------------------------------------------------------------
 Generic Defs
------------------------------------------------------------------------ */
.mod-feed  {
	padding-top: 20px;
    width: 342px;
    margin: auto;
}