// Names from http://chir.ag/projects/name-that-color/

/* Colors */
$witch-haze: #fdf89a;
$forest-green: #1c8b3a;
$mandy: #eb4d60;
$cornflower: #92ccea;
$calypso: #296c7b;
$yellowgreen: #d0e178;

/* Grays */
$black: #000;
$dark: #292a33;
$davys: #555;
$cement: #969696;
$silver: #e7e8e9;
$white: #fff;

/* Viewport Module Palette */
$red: #f00; /* base */
$orange: #f30; /* screen-xxs */
$yellow: #fc0; /* screen-xs */
$green: #6c0; /* screen-sm */
$blue: #03c; /* screen-md */
$purple: #60c; /* screen-lg */
$pink: #c09; /* screen-xl */