/* ---------------------------------------------------------------------
 Typography: Variables
------------------------------------------------------------------------ */
/* Defaul Font Stack */
$family: Arial, Helvetica, sans-serif;

/* Trade Gothic Next Soft Rounded W01 Regular */
$filsonproregular: 'FilsonProRegular';

/* Trade Gothic Next Soft Rounded W01 Bold */
$filsonprobold: 'FilsonProBold';

/* ---------------------------------------------------------------------
 Typography: Font Mixins
------------------------------------------------------------------------ */
@mixin filson-heading ($size: 3.2rem, $height: 1.2em, $align: center, $color: $forest-green, $font: $filsonprobold) {
    font-size: $size;   
    line-height: $height;
    text-align: $align;
    color: $color;
    font-family: $font;
}

@mixin filson-subheading ($size: 2.2rem, $height: 1.5em, $align: center, $color: $forest-green, $font: $filsonprobold) {
    font-size: $size;   
    line-height: $height;
    text-align: $align;
    color: $color;
    font-family: $font;
}

@mixin filson-strong ($font: $filsonprobold) {
    font-family: $font;
}

/* ---------------------------------------------------------------------
 Typography: Font Icons
------------------------------------------------------------------------ */
@font-face {
  font-family: 'ct-icons';
  src: url('../fonts/ct-icons.eot?95655502');
  src: url('../fonts/ct-icons.eot?95655502#iefix') format('embedded-opentype'),
       url('../fonts/ct-icons.woff?95655502') format('woff'),
       url('../fonts/ct-icons.ttf?95655502') format('truetype'),
       url('../fonts/ct-icons.svg?95655502#ct-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ct-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-retweet:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-instagramm:before { content: '\e804'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-reply:before { content: '\e806'; } /* '' */
.icon-star-filled:before { content: '\e807'; } /* '' */