//
// css sprite mixins - created with http://www.codeandweb.com/texturepacker
// exporter created by Rob Moorman
//
// $TexturePacker:SmartUpdate:ee25e73a642b982de31735c5425d7500:ca826433fff3e63a52e7d87038984ccc:32f9376fd277c9786148c8567d4753b4$


@mixin sprite-btn-download-up($path: './')
    display: inline-block
    overflow: hidden
    width: 134px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -0px -0px

@mixin sprite-btn-facebook-up($path: './')
    display: inline-block
    overflow: hidden
    width: 134px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -134px -0px

@mixin sprite-btn-menu-up($path: './')
    display: inline-block
    overflow: hidden
    width: 41px
    height: 38px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -0px -40px

@mixin sprite-btn-twitter-up($path: './')
    display: inline-block
    overflow: hidden
    width: 134px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -41px -40px

@mixin sprite-lemonade($path: './')
    display: inline-block
    overflow: hidden
    width: 272px
    height: 205px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -0px -80px

@mixin sprite-logo($path: './')
    display: inline-block
    overflow: hidden
    width: 305px
    height: 94px
    background:
        repeat: no-repeat
        image: url('#{$path}ct-assets-small.png')
        position: -0px -285px

